/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif !important;
}

/* line 13, ../sass/screen.scss */
.wrapper {
  overflow: hidden;
}

/* line 17, ../sass/screen.scss */
.top_container {
  border-top: 3px solid #ff7200;
  border-bottom: 3px solid #ff7200;
}

/* line 22, ../sass/screen.scss */
.header {
  position: absolute;
  text-align: center;
  top: 30px;
  left: 0;
  z-index: 37;
  width: 100%;
}
/* line 32, ../sass/screen.scss */
.header .list > li {
  display: inline-block;
  vertical-align: middle;
}
/* line 37, ../sass/screen.scss */
.header .list > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
}
/* line 48, ../sass/screen.scss */
.header .list > li > a:hover {
  background-color: #343434;
  color: #ff7200;
}
/* line 53, ../sass/screen.scss */
.header .list > li .header_item_center {
  border: 1px solid #fff;
  padding: 5px 15px;
}
/* line 57, ../sass/screen.scss */
.header .list > li .header_item_center > h5 {
  font-size: 22px;
  line-height: 24px;
}
/* line 62, ../sass/screen.scss */
.header .list > li .header_item_center > p {
  font-size: 10px;
  line-height: 12px;
}
/* line 68, ../sass/screen.scss */
.header .list > li .header_item_center:hover {
  border: 1px solid #343434;
  background: none !Important;
}
/* line 72, ../sass/screen.scss */
.header .list > li .header_item_center:hover > h5 {
  color: #343434;
}
/* line 76, ../sass/screen.scss */
.header .list > li .header_item_center:hover > p {
  color: #343434;
}

/* line 84, ../sass/screen.scss */
.header_item_services {
  position: relative;
}

/* line 88, ../sass/screen.scss */
.menu_services_hover {
  display: none;
  position: absolute;
  top: 18px;
  left: 0;
  width: 200px;
  padding-top: 30px;
  z-index: 2;
}
/* line 97, ../sass/screen.scss */
.menu_services_hover > ul {
  text-align: left;
  padding: 20px;
  background-color: #343434;
}
/* line 102, ../sass/screen.scss */
.menu_services_hover > ul > li {
  margin: 0 0 12px 12px;
  list-style: disc;
}
/* line 106, ../sass/screen.scss */
.menu_services_hover > ul > li > a {
  text-decoration: none;
  color: #a9a9a9;
  font-size: 12px;
  line-height: 14px;
}
/* line 115, ../sass/screen.scss */
.menu_services_hover > ul > li:hover {
  background: url(../images/little_arrow_next.png) right center no-repeat;
}
/* line 117, ../sass/screen.scss */
.menu_services_hover > ul > li:hover > a {
  color: #fff;
}

/* line 126, ../sass/screen.scss */
.list_hover_item .list_hover_two {
  display: none;
  position: absolute;
  top: 150px;
  left: 180px;
  width: 200px;
  padding: 20px 0 20px 35px;
  background-color: #343434;
}
/* line 135, ../sass/screen.scss */
.list_hover_item .list_hover_two > li {
  margin-bottom: 12px;
  list-style: disc;
}
/* line 139, ../sass/screen.scss */
.list_hover_item .list_hover_two > li > a {
  text-decoration: none;
  color: #a9a9a9;
  font-size: 14px;
  line-height: 16px;
}
/* line 149, ../sass/screen.scss */
.list_hover_item .list_hover_two > li:hover > a {
  color: #fff;
}

/* line 158, ../sass/screen.scss */
.list_hover_item:hover .list_hover_two {
  display: block;
}

/* line 163, ../sass/screen.scss */
.header_item_services:hover
.menu_services_hover {
  display: block;
}

/* line 168, ../sass/screen.scss */
.header_title {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 3;
  width: 75%;
  transform: translateX(-50%);
}
/* line 177, ../sass/screen.scss */
.header_title > h1 {
  font-size: 60px;
  line-height: 62px;
  color: #fff;
  margin-bottom: 35px;
}
/* line 184, ../sass/screen.scss */
.header_title > p {
  font-size: 17px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 45px;
}
/* line 191, ../sass/screen.scss */
.header_title > p > span {
  color: #ff7200;
}
/* line 196, ../sass/screen.scss */
.header_title > a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  padding: 10px;
  width: 185px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 17px;
}

/* line 209, ../sass/screen.scss */
#menu_header {
  position: fixed;
  top: 0;
  left: -250px;
  z-index: 20;
  height: 100%;
  width: 250px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 0 0 20px;
}
/* line 221, ../sass/screen.scss */
#menu_header > ul > li {
  margin-bottom: 10px;
}
/* line 224, ../sass/screen.scss */
#menu_header > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
}
/* line 231, ../sass/screen.scss */
#menu_header > ul > li > a:hover {
  text-decoration: underline;
  color: #ff7200;
}

/* line 239, ../sass/screen.scss */
#open_menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 5;
  height: 20px;
  width: 20px;
  background: url(../images/menu_header.png) center no-repeat;
  border: none;
  cursor: pointer;
}

/* line 252, ../sass/screen.scss */
#close_menu {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 20px;
  width: 20px;
  background: url(../images/close_menu.png) center no-repeat;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  /* line 264, ../sass/screen.scss */
  #open_menu {
    display: block;
  }

  /* line 268, ../sass/screen.scss */
  .header {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  /* line 277, ../sass/screen.scss */
  .header_title > h1 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 25px;
  }
  /* line 283, ../sass/screen.scss */
  .header_title > p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  /* line 289, ../sass/screen.scss */
  .header_title > a {
    padding: 5px;
    width: 100px;
    font-size: 10px;
    line-height: 12px;
  }
}
@media only screen and (max-width: 420px) {
  /* line 299, ../sass/screen.scss */
  .header_title {
    top: 20%;
  }
  /* line 303, ../sass/screen.scss */
  .header_title > h1 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  /* line 309, ../sass/screen.scss */
  .header_title > p {
    font-size: 10px;
    line-height: 12px;
  }

  /* line 315, ../sass/screen.scss */
  .next-slide {
    background: url(../images/arr.png) center no-repeat !important;
  }

  /* line 320, ../sass/screen.scss */
  .prev-slide {
    background: url(../images/arl.png) center no-repeat !important;
    height: 23px;
    width: 23px;
  }

  /* line 326, ../sass/screen.scss */
  .prev-arrow,
  .next-arrow {
    height: 23px !Important;
    width: 23px !Important;
  }
}
/* line 338, ../sass/screen.scss */
.second_menu {
  text-align: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  position: relative;
}
/* line 348, ../sass/screen.scss */
.second_menu .list > li {
  display: inline-block;
  vertical-align: middle;
}
/* line 353, ../sass/screen.scss */
.second_menu .list > li > a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
}
/* line 364, ../sass/screen.scss */
.second_menu .list > li > a:hover {
  background-color: #343434;
  color: #ff7200;
}
/* line 369, ../sass/screen.scss */
.second_menu .list > li .header_item_center {
  border: 1px solid #fff;
  padding: 5px 15px;
}
/* line 373, ../sass/screen.scss */
.second_menu .list > li .header_item_center > h5 {
  font-size: 22px;
  line-height: 24px;
}
/* line 378, ../sass/screen.scss */
.second_menu .list > li .header_item_center > p {
  font-size: 10px;
  line-height: 12px;
}

/* line 392, ../sass/screen.scss */
.second_menu_item > a {
  border: 1px solid #555;
  padding: 5px 15px;
}
/* line 396, ../sass/screen.scss */
.second_menu_item > a > h5 {
  font-size: 22px;
  line-height: 24px;
}
/* line 401, ../sass/screen.scss */
.second_menu_item > a > p {
  font-size: 10px;
  line-height: 12px;
}

/* line 410, ../sass/screen.scss */
.second_menu_item:hover > a {
  background: none !important;
}
/* line 413, ../sass/screen.scss */
.second_menu_item:hover > a > h5 {
  color: #000;
}
/* line 416, ../sass/screen.scss */
.second_menu_item:hover > a > h5 > span {
  color: #ff7200;
}
/* line 421, ../sass/screen.scss */
.second_menu_item:hover > a > p {
  color: #000;
}

/* line 427, ../sass/screen.scss */
#second_menu_mini {
  position: absolute;
  top: 0;
  right: -200px;
  background: rgba(0, 0, 0, 0.8);
  padding: 25px;
  width: 200px;
  z-index: 40;
}
/* line 436, ../sass/screen.scss */
#second_menu_mini > ul {
  text-align: right;
}
/* line 439, ../sass/screen.scss */
#second_menu_mini > ul > li {
  margin-bottom: 10px;
}
/* line 442, ../sass/screen.scss */
#second_menu_mini > ul > li > a {
  text-decoration: none;
  color: #fff;
}
/* line 447, ../sass/screen.scss */
#second_menu_mini > ul > li > a:hover {
  text-decoration: underline;
  color: #ff7200;
}

/* line 455, ../sass/screen.scss */
#second_menu_close {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: none;
  background: rgba(1, 1, 1, 0.5);
  cursor: pointer;
  color: #fff;
  padding: 3px;
}

/* line 467, ../sass/screen.scss */
#second_menu_open {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  background: url(../images/navigation-previous.png) no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  padding: 0;
  display: none;
}

@media only screen and (max-width: 768px) {
  /* line 485, ../sass/screen.scss */
  .second_menu {
    padding: 0;
  }
  /* line 488, ../sass/screen.scss */
  .second_menu .list {
    display: none;
  }

  /* line 493, ../sass/screen.scss */
  #second_menu_open {
    display: block;
  }
}
/* line 501, ../sass/screen.scss */
.about_us {
  background-color: #FFF;
}
/* line 504, ../sass/screen.scss */
.about_us .about_us_container {
  max-width: 1167px;
  width: 100%;
  margin: 0 auto;
  padding: 125px 0;
  text-align: center;
}
/* line 511, ../sass/screen.scss */
.about_us .about_us_container .about_us_title {
  max-width: 530px;
  width: 100%;
  margin: 0 auto 82px;
}
/* line 516, ../sass/screen.scss */
.about_us .about_us_container .about_us_title > h4 {
  font-size: 40px;
  line-height: 42px;
  color: #666;
  margin-bottom: 20px;
}
/* line 523, ../sass/screen.scss */
.about_us .about_us_container .about_us_title > p {
  color: #666;
  margin-top: 20px;
}
/* line 529, ../sass/screen.scss */
.about_us .about_us_container .about_us_box {
  overflow: hidden;
}
/* line 533, ../sass/screen.scss */
.about_us .about_us_container .about_us_box_slider {
  float: left;
  max-width: 570px;
  width: 100%;
  box-shadow: -16px -4px 15px 10px #666;
  margin-bottom: 20px;
}
/* line 541, ../sass/screen.scss */
.about_us .about_us_container .about_us_box_text {
  float: right;
  max-width: 570px;
  width: 100%;
  text-align: left;
}
/* line 547, ../sass/screen.scss */
.about_us .about_us_container .about_us_box_text > h6 {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
}
/* line 554, ../sass/screen.scss */
.about_us .about_us_container .about_us_box_text > p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
/* line 561, ../sass/screen.scss */
.about_us .about_us_container .about_us_box_text .about_us_form {
  margin-top: 30px;
}
/* line 564, ../sass/screen.scss */
.about_us .about_us_container .about_us_box_text .about_us_form > input {
  width: 160px;
  height: 50px;
  border: none;
  border: 1px solid #ff7200;
  color: #ff7200;
  background-color: #FFF;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
  margin-right: 30px;
}
/* line 577, ../sass/screen.scss */
.about_us .about_us_container .about_us_box_text .about_us_form > input:hover {
  color: #fff;
  background-color: #ff7200;
}

@media only screen and (max-width: 1167px) {
  /* line 590, ../sass/screen.scss */
  .about_us .about_us_container {
    padding: 50px 0;
  }
  /* line 593, ../sass/screen.scss */
  .about_us .about_us_container .about_us_title {
    margin: 0 auto 40px;
  }
  /* line 596, ../sass/screen.scss */
  .about_us .about_us_container .about_us_title > h4 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  /* line 603, ../sass/screen.scss */
  .about_us .about_us_container .about_us_box_slider {
    float: none;
    max-width: 85%;
    width: 100%;
    box-shadow: 0px 5px 18px 0px #668;
    margin: 0 auto 20px;
  }
  /* line 611, ../sass/screen.scss */
  .about_us .about_us_container .about_us_box_text {
    float: none;
    max-width: 100%;
    width: 100%;
    text-align: none;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 30px;
  }
  /* line 620, ../sass/screen.scss */
  .about_us .about_us_container .about_us_box_text > h6 {
    margin-bottom: 15px;
  }
  /* line 624, ../sass/screen.scss */
  .about_us .about_us_container .about_us_box_text .about_us_form {
    margin-top: 30px;
  }
  /* line 627, ../sass/screen.scss */
  .about_us .about_us_container .about_us_box_text .about_us_form > input {
    width: 100px;
    height: 30px;
    font-size: 10px;
    line-height: 12px;
    margin-right: 20px;
  }
  /* line 635, ../sass/screen.scss */
  .about_us .about_us_container .about_us_box_text .about_us_form > input:hover {
    color: #fff;
    background-color: #ff7200;
  }
}
@media only screen and (max-width: 480px) {
  /* line 649, ../sass/screen.scss */
  .about_us .about_us_container {
    padding: 20px 0;
  }
  /* line 652, ../sass/screen.scss */
  .about_us .about_us_container .about_us_title {
    padding: 0 25px;
  }
  /* line 655, ../sass/screen.scss */
  .about_us .about_us_container .about_us_title > h4 {
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  /* line 664, ../sass/screen.scss */
  .about_us .about_us_container .about_us_box_text > h6 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
  }
  /* line 670, ../sass/screen.scss */
  .about_us .about_us_container .about_us_box_text > p {
    font-size: 12px;
    line-height: 14px;
  }
  /* line 675, ../sass/screen.scss */
  .about_us .about_us_container .about_us_box_text .about_us_form {
    margin-top: 30px;
  }
  /* line 678, ../sass/screen.scss */
  .about_us .about_us_container .about_us_box_text .about_us_form > input {
    width: 80px;
    height: 25px;
    font-size: 8px;
    line-height: 10px;
  }
}
/* line 697, ../sass/screen.scss */
.banner_route {
  background: url(../images/banner_route.png) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/* line 702, ../sass/screen.scss */
.banner_route .banner_route_container {
  max-width: 1167px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
/* line 708, ../sass/screen.scss */
.banner_route .banner_route_container .banner_route_grid {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
/* line 713, ../sass/screen.scss */
.banner_route .banner_route_container .banner_route_grid > li {
  max-width: 330px;
  margin-bottom: 82px;
  padding-left: 70px;
}
/* line 718, ../sass/screen.scss */
.banner_route .banner_route_container .banner_route_grid > li > strong {
  color: #fff;
}
/* line 723, ../sass/screen.scss */
.banner_route .banner_route_container .banner_route_grid > li > p {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  margin-top: 15px;
}
/* line 731, ../sass/screen.scss */
.banner_route .banner_route_container .banner_route_grid .layout {
  background: url(../images/route_grid_01.png) left top no-repeat;
}
/* line 734, ../sass/screen.scss */
.banner_route .banner_route_container .banner_route_grid .magical {
  background: url(../images/route_grid_02.png) left top no-repeat;
}
/* line 737, ../sass/screen.scss */
.banner_route .banner_route_container .banner_route_grid .pover {
  background: url(../images/route_grid_03.png) left top no-repeat;
}
/* line 740, ../sass/screen.scss */
.banner_route .banner_route_container .banner_route_grid .creating {
  background: url(../images/route_grid_04.png) left top no-repeat;
}
/* line 743, ../sass/screen.scss */
.banner_route .banner_route_container .banner_route_grid .connectivity {
  background: url(../images/route_grid_05.png) left top no-repeat;
}
/* line 746, ../sass/screen.scss */
.banner_route .banner_route_container .banner_route_grid .action {
  background: url(../images/route_grid_06.png) left top no-repeat;
}

@media only screen and (max-width: 1200px) {
  /* line 756, ../sass/screen.scss */
  .banner_route .banner_route_container {
    padding: 50px 25px;
  }
  /* line 761, ../sass/screen.scss */
  .banner_route .banner_route_container .banner_route_grid > li {
    max-width: 280px;
    margin-bottom: 40px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 950px) {
  /* line 775, ../sass/screen.scss */
  .banner_route .banner_route_container {
    padding: 25px;
  }
  /* line 780, ../sass/screen.scss */
  .banner_route .banner_route_container .banner_route_grid > li {
    max-width: 230px;
  }
  /* line 783, ../sass/screen.scss */
  .banner_route .banner_route_container .banner_route_grid > li > strong {
    font-size: 14px;
    line-height: 18px;
  }
  /* line 788, ../sass/screen.scss */
  .banner_route .banner_route_container .banner_route_grid > li > p {
    font-size: 10px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 804, ../sass/screen.scss */
  .banner_route .banner_route_container .banner_route_grid {
    justify-content: space-around;
  }
  /* line 807, ../sass/screen.scss */
  .banner_route .banner_route_container .banner_route_grid > li {
    max-width: 250px;
  }
  /* line 810, ../sass/screen.scss */
  .banner_route .banner_route_container .banner_route_grid > li > p {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 570px) {
  /* line 826, ../sass/screen.scss */
  .banner_route .banner_route_container .banner_route_grid > li {
    max-width: 400px;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
  }
}
/* line 839, ../sass/screen.scss */
.content_box_title {
  text-align: center;
  max-width: 560px;
  width: 100%;
  margin: 0 auto 80px;
}
/* line 845, ../sass/screen.scss */
.content_box_title > h2 {
  color: #fff;
  font-weight: bold;
  font-size: 33px;
  line-height: 35px;
  margin-bottom: 20px;
}
/* line 853, ../sass/screen.scss */
.content_box_title > p {
  color: #fff;
  margin-top: 20px;
  font-size: 13px;
  line-height: 18px;
}

/* line 863, ../sass/screen.scss */
.content_box_title_black > h2, .content_box_title_black > p {
  color: #000 !important;
}

@media only screen and (max-width: 1024px) {
  /* line 870, ../sass/screen.scss */
  .content_box_title {
    margin: 0 auto 40px;
  }
  /* line 873, ../sass/screen.scss */
  .content_box_title > h2 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  /* line 879, ../sass/screen.scss */
  .content_box_title > p {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 886, ../sass/screen.scss */
  .content_box_title {
    max-width: 400px;
    margin: 0 auto 25px;
  }
  /* line 890, ../sass/screen.scss */
  .content_box_title > h2 {
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  /* line 896, ../sass/screen.scss */
  .content_box_title > p {
    margin-top: 10px;
    font-size: 11px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 907, ../sass/screen.scss */
  .content_box_title > h2 {
    font-size: 20px;
    line-height: 22px;
  }
  /* line 912, ../sass/screen.scss */
  .content_box_title > p {
    font-size: 10px;
    line-height: 12px;
  }
}
/* line 924, ../sass/screen.scss */
.we_are_a_team {
  background-color: #fff;
}
/* line 927, ../sass/screen.scss */
.we_are_a_team .we_are_a_team_container {
  max-width: 1167px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 0;
}
/* line 933, ../sass/screen.scss */
.we_are_a_team .we_are_a_team_container .we_are_a_team_grid {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
/* line 938, ../sass/screen.scss */
.we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li {
  max-width: 270px;
  width: 100%;
  margin-bottom: 30px;
}
/* line 943, ../sass/screen.scss */
.we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li .we_are_a_team_logo {
  margin-bottom: 30px;
}
/* line 946, ../sass/screen.scss */
.we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li .we_are_a_team_logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 956, ../sass/screen.scss */
.we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li > h5 {
  color: #555;
  text-align: center;
}
/* line 960, ../sass/screen.scss */
.we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li > h5 > span {
  color: #ff7200;
}
/* line 966, ../sass/screen.scss */
.we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li > p {
  margin-top: 15px;
  color: #555;
  font-size: 14px;
  line-height: 16px;
}

/* line 977, ../sass/screen.scss */
.we_are_a_team_list_social {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 10px;
}
/* line 984, ../sass/screen.scss */
.we_are_a_team_list_social > li {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
/* line 989, ../sass/screen.scss */
.we_are_a_team_list_social > li > a {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 15px;
}
/* line 995, ../sass/screen.scss */
.we_are_a_team_list_social > li > a > div {
  margin: 0 auto;
}
/* line 1000, ../sass/screen.scss */
.we_are_a_team_list_social > li:hover {
  background-color: #ff7e26;
}

/* line 1007, ../sass/screen.scss */
.item_facebook > a > div {
  width: 7px;
  height: 17px;
  background: url(../images/facebook.png) top center no-repeat;
}

/* line 1016, ../sass/screen.scss */
.item_facebook:hover > a > div {
  background: url(../images/facebook.png) bottom center no-repeat;
}

/* line 1026, ../sass/screen.scss */
.item_twitter > a > div {
  width: 18px;
  height: 16px;
  background: url(../images/twitter.png) top center no-repeat;
}

/* line 1035, ../sass/screen.scss */
.item_twitter:hover > a > div {
  background: url(../images/twitter.png) bottom center no-repeat;
}

/* line 1044, ../sass/screen.scss */
.item_tumbler > a > div {
  width: 11px;
  height: 17px;
  background: url(../images/tumblr.png) top center no-repeat;
}

/* line 1053, ../sass/screen.scss */
.item_tumbler:hover > a > div {
  background: url(../images/tumblr.png) bottom center no-repeat;
}

/* line 1062, ../sass/screen.scss */
.item_linkedin > a > div {
  width: 16px;
  height: 17px;
  background: url(../images/linkedin.png) top center no-repeat;
}

/* line 1071, ../sass/screen.scss */
.item_linkedin:hover > a > div {
  background: url(../images/linkedin.png) bottom center no-repeat;
}

/* line 1080, ../sass/screen.scss */
.item_massage > a > div {
  width: 18px;
  height: 15px;
  background: url(../images/massage.png) top center no-repeat;
}

/* line 1089, ../sass/screen.scss */
.item_massage:hover > a > div {
  background: url(../images/massage.png) bottom center no-repeat;
}

@media only screen and (max-width: 1140px) {
  /* line 1098, ../sass/screen.scss */
  .we_are_a_team .we_are_a_team_container {
    padding: 50px 25px;
  }
  /* line 1103, ../sass/screen.scss */
  .we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li {
    max-width: 220px;
    width: 100%;
  }
  /* line 1107, ../sass/screen.scss */
  .we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li > h5 {
    font-size: 14px;
    line-height: 16px;
  }
  /* line 1112, ../sass/screen.scss */
  .we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li > p {
    font-size: 12px;
    line-height: 14px;
  }

  /* line 1123, ../sass/screen.scss */
  .we_are_a_team_list_social > li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  /* line 1128, ../sass/screen.scss */
  .we_are_a_team_list_social > li > a {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 5px;
  }
}
@media only screen and (max-width: 960px) {
  /* line 1144, ../sass/screen.scss */
  .we_are_a_team .we_are_a_team_container .we_are_a_team_grid {
    justify-content: space-around;
  }
  /* line 1147, ../sass/screen.scss */
  .we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li {
    max-width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 1163, ../sass/screen.scss */
  .we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li {
    max-width: 220px;
  }
}
@media only screen and (max-width: 540px) {
  /* line 1179, ../sass/screen.scss */
  .we_are_a_team .we_are_a_team_container .we_are_a_team_grid > li {
    max-width: 300px;
  }
}
/* line 1193, ../sass/screen.scss */
.work {
  margin-bottom: 100px;
}
/* line 1196, ../sass/screen.scss */
.work .work_grid {
  font-size: 0;
  margin: 0%;
  overflow: hidden;
  padding: 0;
  list-style: none;
}
/* line 1203, ../sass/screen.scss */
.work .work_grid .item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
/* line 1212, ../sass/screen.scss */
.work .work_grid .item > img {
  width: 100%;
}
/* line 1218, ../sass/screen.scss */
.work .work_grid .item:hover .bottle_vine_right,
.work .work_grid .item:hover .bottle_vine_left,
.work .work_grid .item:hover .bottle_vine_bottom {
  display: block;
}

/* line 1227, ../sass/screen.scss */
.bottle_vine_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  display: none;
  padding: 5% 0;
  background-color: #fff;
  text-align: center;
}
/* line 1238, ../sass/screen.scss */
.bottle_vine_bottom > h5 {
  font-size: 16px;
  line-height: 24px;
  color: #444;
}
/* line 1244, ../sass/screen.scss */
.bottle_vine_bottom > h6 {
  font-size: 12px;
  line-height: 14px;
  color: #666;
}

/* line 1251, ../sass/screen.scss */
.bottle_vine_left {
  position: absolute;
  display: none;
  bottom: 50%;
  left: 25%;
  width: 60px;
  height: 60px;
  background: url(../images/link_02_img.png) center no-repeat;
}

/* line 1261, ../sass/screen.scss */
.bottle_vine_right {
  position: absolute;
  bottom: 50%;
  display: none;
  right: 25%;
  width: 60px;
  height: 60px;
  background: url(../images/link_img.png) center no-repeat;
}

/* line 1274, ../sass/screen.scss */
.bottle_vine_left > a,
.bottle_vine_right > a {
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (max-width: 1024px) {
  /* line 1282, ../sass/screen.scss */
  .work {
    padding: 0 5%;
  }
  /* line 1287, ../sass/screen.scss */
  .work .work_grid .item {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 1296, ../sass/screen.scss */
  .work {
    margin-bottom: 25px;
  }
  /* line 1301, ../sass/screen.scss */
  .work .work_grid .item {
    width: 100%;
  }
}
/* line 1312, ../sass/screen.scss */
.buy_oxxo_now {
  background-color: #fff;
}
/* line 1315, ../sass/screen.scss */
.buy_oxxo_now .buy_oxxo_now_container {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 100px;
}

/* line 1324, ../sass/screen.scss */
.buy_oxxo_now_title {
  max-width: 780px;
  width: 100%;
}
/* line 1328, ../sass/screen.scss */
.buy_oxxo_now_title > hr {
  margin-bottom: 80px;
}
/* line 1332, ../sass/screen.scss */
.buy_oxxo_now_title > p {
  font-size: 20px;
  line-height: 28px;
}
/* line 1336, ../sass/screen.scss */
.buy_oxxo_now_title > p > a {
  color: #000;
  text-decoration: none;
}
/* line 1341, ../sass/screen.scss */
.buy_oxxo_now_title > p > a:hover {
  color: #ff7e26;
}

/* line 1349, ../sass/screen.scss */
.add_form_oxxo > input {
  width: 160px;
  height: 50px;
  border: 1px solid #ff7200;
  border-radius: 5px;
  background-color: #fff;
  color: #ff7200;
  cursor: pointer;
}
/* line 1359, ../sass/screen.scss */
.add_form_oxxo > input:hover {
  background-color: #ff7200;
  color: #fff;
}

/* line 1365, ../sass/screen.scss */
.add_form_oxxo_input_right {
  padding-left: 40px;
  background: url(../images/massage_submit.png) left 22% center no-repeat;
}

/* line 1370, ../sass/screen.scss */
.add_form_oxxo_input_left {
  padding-left: 20px;
  background: url(../images/bascket_input.png) left 22% center no-repeat;
}

@media only screen and (max-width: 768px) {
  /* line 1378, ../sass/screen.scss */
  .buy_oxxo_now .buy_oxxo_now_container {
    padding: 0 25px 40px;
  }

  /* line 1385, ../sass/screen.scss */
  .buy_oxxo_now_title > hr {
    margin-bottom: 20px;
  }
  /* line 1389, ../sass/screen.scss */
  .buy_oxxo_now_title > p {
    font-size: 14px;
    line-height: 16px;
  }

  /* line 1397, ../sass/screen.scss */
  .add_form_oxxo > input {
    width: 80px;
    height: 30px;
    font-size: 9px;
    line-height: 12px;
    background: none;
    padding: 0;
  }
}
/* line 1414, ../sass/screen.scss */
.what_our_clients {
  background: url(../images/banner_route_two.png) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 100px 0;
}
/* line 1420, ../sass/screen.scss */
.what_our_clients .what_our_clients_container {
  max-width: 752px;
  width: 100%;
  margin: 0 auto;
}

/* line 1427, ../sass/screen.scss */
.what_our_clients_title {
  margin-bottom: 40px !important;
}

/* line 1431, ../sass/screen.scss */
.slick_item_box {
  text-align: center;
  color: #fff;
  padding: 0 20px 90px;
  cursor: pointer;
}
/* line 1437, ../sass/screen.scss */
.slick_item_box > h6 {
  margin-bottom: 20px;
}
/* line 1441, ../sass/screen.scss */
.slick_item_box > p {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}
/* line 1450, ../sass/screen.scss */
.slick_item_box > strong > span {
  color: #ff7200;
}

@media only screen and (max-width: 768px) {
  /* line 1457, ../sass/screen.scss */
  .what_our_clients {
    padding: 50px 0;
  }

  /* line 1461, ../sass/screen.scss */
  .what_our_clients_title {
    margin-bottom: 20px !important;
  }

  /* line 1465, ../sass/screen.scss */
  .slick_item_box {
    padding: 0 20px 80px;
  }
  /* line 1468, ../sass/screen.scss */
  .slick_item_box > h6 {
    margin-bottom: 10px;
  }
  /* line 1472, ../sass/screen.scss */
  .slick_item_box > p {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  /* line 1478, ../sass/screen.scss */
  .slick_item_box > strong {
    font-size: 13px;
    line-height: 15px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 1488, ../sass/screen.scss */
  .slick-prev {
    background: none;
    left: 30%;
    background: url(../images/arl.png) center no-repeat !important;
  }

  /* line 1494, ../sass/screen.scss */
  .slick-next {
    background: none;
    right: 30%;
    background: url(../images/arr.png) center no-repeat !important;
  }

  /* line 1500, ../sass/screen.scss */
  .slick-prev,
  .slick-next {
    width: 15px !important;
    height: 21px !important;
    border: none;
  }
}
/* line 1513, ../sass/screen.scss */
.client_logos {
  background-color: #ff7200;
}

@media only screen and (max-width: 1024px) {
  /* line 1518, ../sass/screen.scss */
  .slick_client {
    max-width: 900px;
  }
}
/* line 1523, ../sass/screen.scss */
.client_01 {
  background: url(../images/client_01.png) left center no-repeat;
}

/* line 1527, ../sass/screen.scss */
.client_02 {
  background: url(../images/client_02.png) left center no-repeat;
}

/* line 1531, ../sass/screen.scss */
.client_03 {
  background: url(../images/client_03.png) left center no-repeat;
}

/* line 1535, ../sass/screen.scss */
.client_04 {
  background: url(../images/client_04.png) left center no-repeat;
}

/* line 1539, ../sass/screen.scss */
.client_05 {
  background: url(../images/client_05.png) left center no-repeat;
}

/* line 1543, ../sass/screen.scss */
.client_06 {
  background: url(../images/client_06.png) left center no-repeat;
}
